// colours
$purple: #751873;
$white: #fafafa;
$grey: #979599;
$darkgrey: #6a757d;
$darkgrey: #212121;

$omw-highlight: #cb0000;
$vw-highlight: #f3b300;
$masters-highlight: #009dff;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 980px,
  xl: 1420px
);

$container-max-widths: (
  sm: 540px,
  md: 760px,
  lg: 1000px,
  xl: 1400px
);

$grid-gutter-width:           40px;

$modal-lg:                          1000px;
$modal-md:                          800px;
$modal-sm:                          500px;

$modal-content-bg:                  $darkgrey;
$modal-content-border-radius:       0;
$modal-header-border-width:         0;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";


@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,400i,600,900');

body {
  font-family: "Raleway", sans-serif;
  background-color: $white;
}
*::selection {
  background: lighten($darkgrey, 30%);
}
a {
  color: $purple;
}
a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 44px;
}
h1 {
  color: #000;
  font-weight: 400;
  font-size: 55pt;
  line-height: 80%;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
}
h2 {
  font-weight: 400;
  font-size: 20pt;
}
h3 {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 22px;
  font-size: 1.8em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}
h4 {
  font-size: 1em;
  display: inline-block;
}
h5 {
  font-weight: 200;
  color: $darkgrey;
}
// ==============================================================
//                                     SCROLLER
// ==============================================================
.scroller {
  width: 100%;
  min-height: 17vh;
  background-color: #000;
  text-align: center;
  color: #fff;
}
a .scroller:hover {
  text-decoration: none;
}
.scroller-arrow {
  padding-bottom: 10px;
  height: 67.5px;
  width: 75px;
  fill: #fff;
}
path {
  fill: #fff !important;
}
.scroller p {
  padding-top: 2.1em;
  margin-bottom: -10px;
  font-size: 1.4em;
}
// ==============================================================
//                                     Profile
// ==============================================================
#profile-page {
  padding-left: 21px;
  padding-right: 21px;
  width: 100%;
  min-height: 83vh;
  background: #000 url(images/marijaHeader.jpg) no-repeat top center;
  background-size: cover;
}
#name-profile {
  padding-top: 29vh;
  margin-left: -6px;
}
#email-profile {
  color: lighten($grey, 15%);
  text-decoration: none;
  h2 {
    font-weight: 100;
  }
}
#profile-page h2 {
  margin-bottom: 88px;
}
#email-profile:hover {
  color: #fff;
}
#text-profile {
  max-width: 610px;
  color: $white;
  font-weight: 100;
  line-height: 1.7em;
  font-size: 1.2em;
  margin-bottom: 0;
  padding-bottom: 1em;
}
// ==============================================================
//                                     Portfolio
// ==============================================================
#portfolio-page {
  min-height: 83vh;
}
.thumbs {
  text-align: center;
  margin-top: 22vh;
  margin-bottom: 22vh;
  background: $darkgrey;
  transition: background .4s;
}
.thumbs:hover {
  background: #000;
}
.project-aim {
  width: 100%;
  height: 100px;
  padding: 12px;
  h5 {
    font-size: 1.2em;
    padding-top: 40px;
    color: #fff;
  }
}
.project-title {
  width: 100%;
  height: 220px;
  padding: 12px;
  h3 {
    font-weight: 400;
    line-height: 1.4em;
  }
}
#omw-title {
  border-top: 2px solid $omw-highlight;
}
#vw-title {
  border-top: 2px solid $vw-highlight;
}
#masters-title {
  border-top: 2px solid $masters-highlight;
}
.video {
  width: 100%;
  height: 75vh;
}
.embedPDF {
  width: 100%;
  height: 75vh;
}
.modal-date {
  color: lighten($grey, 18%);
  margin: 7px 0 0 auto;
  display: inline-block;
}
// Not the best solution, but allows the modal date to float to the right and sit by the x button
.modal-header .close {
  margin: -1rem -1rem -1rem 0;
}
.modal-title {
  color: #fff;
}
.modal {
  color: #fff;
  a {
    color: $grey;
    font-size: 1.3em;
  }
  p {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.9em;
    margin-bottom: 1.7em;
  }
}
.omw .modal-header {
  border-bottom: 2px solid $omw-highlight;
}
.omw a {
  font-weight: 400;
  color: #fff;
  border-left: 25px solid $omw-highlight;
  padding-left: 6px;
  display: block;
  margin-top: 52px;
}
.omw a:hover {
  color: $omw-highlight;
  text-decoration: none;
}
.vw .modal-header {
  border-bottom: 2px solid $vw-highlight;
}
.vw a {
  font-weight: 400;
  color: #fff;
  border-left: 25px solid $vw-highlight;
  padding-left: 6px;
  display: block;
  margin-top: 52px;
}
.vw a:hover {
  color: $vw-highlight;
  text-decoration: none;
}
.masters .modal-header {
  border-bottom: 2px solid $masters-highlight;
}
.masters a {
  font-weight: 400;
  color: #fff;
  border-left: 25px solid $masters-highlight;
  padding-left: 6px;
  display: block;
  margin-top: 52px;
}
.masters a:hover {
  color: $masters-highlight;
  text-decoration: none;
}
.modal-project-title {
  margin: 12px 0 58px 0;
  font-weight: 200;
  line-height: 1.4em;
}
.pdf-viewer {
  background: url(images/loading.gif) center center no-repeat;
}

// ==============================================================
//                                     Contact
// ==============================================================
#contact-page {
  width: 100%;
  min-height: 100vh;
  background: #000;
  text-align: center;
  padding-top: 220px;
}
#contact-page h1 {
  text-transform: none;
  font-size: 3.2em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 130px;
}
.contact-option {
  color: lighten($grey, 15%);
  text-decoration: none;
}
.contact-option:hover {
  color: #fff;
  font-weight: 200;
  text-decoration: none;
}
.contact-option h2 {
  padding-bottom: 44px;
  font-weight: 100;
}
#contact-number {
  text-decoration: none;
}
