$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 980px,
  xl: 1420px
);

$container-max-widths: (
  sm: 540px,
  md: 760px,
  lg: 1000px,
  xl: 1400px
);

$modal-lg:                          1000px;
$modal-md:                          800px;
$modal-sm:                          500px;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";

// begin custom styles
$purple: #751873;
$white: #fafafa;
$gray: #979599;
$darkgray: #6a757d;


@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,400i,600,900');

body {
  font-family: "Raleway", sans-serif;
  margin-bottom: 108px;
  background-color: $white;
}
a {
  color: $purple;
}
p {
  margin-bottom: 44px;
}
h1 {
  color: #000;
  font-weight: 400;
  font-size: 60pt;
  line-height: 80%;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
}
h2 {
  font-weight: 400;
  font-size: 20pt;
}
h3 {
  font-weight: 600;
  font-size: 1.4em;
  color: #000;
  display: inline-block;
  margin-bottom: 22px;
}
h5 {
  font-weight: 200;
  color: $darkgray;
}
// ==============================================================
//                                     SCROLLER
// ==============================================================
.scroller {
  width: 100%;
  height: 210px;
  background-color: #000;
  text-align: center;
  color: #fff;
}
.scroller-arrow {
  height: 90px;
  width: 100px;
  fill: #fff;
}
path {
  fill: #fff !important;
}
.scroller p {
  padding-top: 44px;
  margin-bottom: 5px;
  font-size: 1.4em;
}
// ==============================================================
//                                     Profile
// ==============================================================
#profile-page {
  width: 100%;
  height: 730px;
  background: #000 url(images/marijaHeader.jpg) no-repeat top center;
  background-size: auto 730px;
}
#name-profile {
  padding-top: 240px;
}
#email-profile {
  color: #fff;
  text-decoration: underline;
}
#profile-page h2 {
  margin-bottom: 88px;
}
#email-profile:hover {
  color: #fff;
}
#text-profile {
  color: #fff;
}
// ==============================================================
//                                     Portfolio
// ==============================================================
.project-aim {
  font-size: 1.2em;
  margin-bottom: 12px;
}
a .project-aim:hover {
  text-decoration: none;
}
.thumbs {
  text-align: center;
  margin: 220px 0 220px 0;
  img {
    display: block;
    width: 100%;
    margin-bottom: 44px;
    filter: $gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
  }
  img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
.video {
  width: 100%;
  height: 75vh;
}
.embedPDF {
  width: 100%;
  height: 75vh;
}
.email-header {
  font-weight: 200;
  text-transform: lowercase;
  margin-bottom: 100px;
}
.email-header a {
  color: $darkgray;
}
// ==============================================================
//                                     Contact
// ==============================================================
#contact-page {
  width: 100%;
  height: 940px;
  background: #000;
  text-align: center;
  padding-top: 220px;
}
#contact-page h1 {
  color: #fff;
  margin-bottom: 88px;
}
.contact-option {
  color: #fff;
  text-decoration: underline;
}
.contact-option h2 {
  margin-bottom: 22px;
}
